.button__inversion-text {
    margin: 0;
    background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);;
    /* обрезаем фон по контуру букв */
    background-clip: text;
    -webkit-background-clip: text;
    /* делаем заголовок прозрачным, чтобы был виден цветной фон */
    color: transparent;
}
